/* Clock page */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.part{
    margin: 2% 0% 0% 00%;
    padding: 10% 5% 0% 40%;
    background: #636363; 
background: -webkit-linear-gradient(to right, #a2ab58, #636363);  
background: linear-gradient(to right, #a2ab58, #636363); 

    height: 100vh;
}
.clock{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    background: url('../images/Capture.PNG');
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 2px 2px 12px 3px #cfc8c8;
    border: 15px solid white;
}
.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #42a5f5;
    border-radius: 50%;

}
.hour,.minute,.second{
    position: absolute;
}
.hour,.hr{
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
}
.hr::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 50px;
    background: black;
    border-radius: 6px 6px 0 0;
}

 .minute,.min{
    width: 120px;
    height: 120px;
    justify-content: center;
    display: flex;
}
.min::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 65px;
    background: blue;
    border-radius: 6px 6px 0 0;
}

.second,.sec{
    width: 150px;
    height: 150px;
    justify-content: center;
    display: flex;
}
.sec::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background: red;
    border-radius: 6px 6px 0 0; 
}

/* Gallery page */  
/* .images{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    
}
.img-slider{
    margin: 2% 0% 0% 20%;
    background: #636363; 
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  
    background: linear-gradient(to right, #a2ab58, #636363); 
    position: absolute;
    width: 800px;
    height: 500px;
    
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}
.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.img-slider .navigation .btn{
    background: rgba(255,255, 255,0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;

}
.img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px  rgba(0,0,0,0.5);
} */